<h1>Analyst : JUNELLE C. DINGLASAN</h1>

In [3]:
#import libraries
import numpy as np
import pandas as pd
from scipy.stats import f_oneway
import warnings
warnings.filterwarnings('ignore')

In [4]:
accident = pd.read_csv('datasets\\uk_road_accident.csv')

In [5]:
accident

,Index,Accident_Severity,Accident Date,Latitude,Light_Conditions,District Area,Longitude,Number_of_Casualties,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type
0,200701BS64157,Serious,5/6/2019,51.506187,Darkness - lights lit,Kensington and Chelsea,-0.209082,1,2,Dry,Single carriageway,Urban,Fine no high winds,Car
1,200701BS65737,Serious,2/7/2019,51.495029,Daylight,Kensington and Chelsea,-0.173647,1,2,Wet or damp,Single carriageway,Urban,Raining no high winds,Car
2,200701BS66127,Serious,26-08-2019,51.517715,Darkness - lighting unknown,Kensington and Chelsea,-0.210215,1,3,Dry,NaN,Urban,NaN,Taxi/Private hire car
3,200701BS66128,Serious,16-08-2019,51.495478,Daylight,Kensington and Chelsea,-0.202731,1,4,Dry,Single carriageway,Urban,Fine no high winds,Bus or coach (17 or more pass seats)
4,200701BS66837,Slight,3/9/2019,51.488576,Darkness - lights lit,Kensington and Chelsea,-0.192487,1,2,Dry,NaN,Urban,NaN,Other vehicle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660674,201091NM01760,Slight,18-02-2022,57.374005,Daylight,Highland,-3.467828,2,1,Dry,Single carriageway,Rural,Fine no high winds,Car
660675,201091NM01881,Slight,21-02-2022,57.232273,Darkness - no lighting,Highland,-3.809281,1,1,Frost or ice,Single carriageway,Rural,Fine no high winds,Car
660676,201091NM01935,Slight,23-02-2022,57.585044,Daylight,Highland,-3.862727,1,3,Frost or ice,Single carriageway,Rural,Fine no high winds,Car
660677,201091NM01964,Serious,23-02-2022,57.214898,Darkness - no lighting,Highland,-3.823997,1,2,Wet or damp,Single carriageway,Rural,Fine no high winds,Motorcycle over 500cc
660678,201091NM02142,Serious,28-02-2022,57.575210,Daylight,Highland,-3.895673,1,1,Wet or damp,Dual carriageway,Rural,Snowing no high winds,Car

In [6]:
accident.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660679 entries, 0 to 660678
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Index                    660679 non-null  object
 1   Accident_Severity        660679 non-null  object
 2   Accident Date            660679 non-null  object
 3   Latitude                 660654 non-null  float64
 4   Light_Conditions         660679 non-null  object
 5   District Area            660679 non-null  object
 6   Longitude                660653 non-null  float64
 7   Number_of_Casualties     660679 non-null  int64
 8   Number_of_Vehicles       660679 non-null  int64
 9   Road_Surface_Conditions  659953 non-null  object
 10  Road_Type                656159 non-null  object
 11  Urban_or_Rural_Area      660664 non-null  object
 12  Weather_Conditions       646551 non-null  object
 13  Vehicle_Type             660679 non-null  object
dtypes: float64(2), int64(2), object(10)
memory usage: 70.6+ MB

In [13]:
accident.describe()

,Accident Date,Latitude,Longitude,Number_of_Casualties,Number_of_Vehicles
count,265007,660654.000000,660653.000000,660679.000000,660679.000000
mean,2020-11-18 04:53:34.375468544,52.553866,-1.431210,1.357040,1.831255
min,2019-01-01 00:00:00,49.914430,-7.516225,1.000000,1.000000
25%,2019-12-02 00:00:00,51.490690,-2.332291,1.000000,1.000000
50%,2020-11-05 00:00:00,52.315641,-1.411667,1.000000,2.000000
75%,2021-11-05 00:00:00,53.453452,-0.232869,1.000000,2.000000
max,2022-12-12 00:00:00,60.757544,1.762010,68.000000,32.000000
std,NaN,1.406922,1.383330,0.824847,0.715269

<h1>QUESTIONS</h1>

<h3>1.) What is the minimum and maximum latitude and longitude?</h3>

In [7]:
min_lat = accident['Latitude'].min()
max_lat = accident['Latitude'].max()
min_long = accident['Longitude'].min()
max_long = accident['Longitude'].max()
min_lat, max_lat, min_long, max_long

(np.float64(49.91443),
 np.float64(60.757544),
 np.float64(-7.516225),
 np.float64(1.76201))

<h4>INSIGHTS : This tells the farthest locations where accidents happened. It sets the boundary of the dataset.</h4>

<h3>2.) What is the earliest accident date in the datasets</h3>

In [11]:
accident['Accident Date'] = pd.to_datetime(accident['Accident Date'])
earliest = accident['Accident Date'].min()
earliest

Timestamp('2019-01-01 00:00:00')

<h4>INSIGHTS : Tells the starting point of recorded accident data.</h4>

<h3>3.) What is the average number of vehicles involved in accidents for each severity level?</h3>

In [10]:
avg_vehicles = accident.groupby('Accident_Severity')['Number_of_Vehicles'].mean().reset_index(name='Avg_Vehicles')
avg_vehicles

  Accident_Severity  Avg_Vehicles
0             Fatal      1.786976
1           Serious      1.678327
2            Slight      1.855864

<h4>INSIGHTS : Reveals if more vehicles tent to be involved in serious or slight accidents.</h4>

<h3>4.) How many accidents occurred each year?</h3>

In [39]:
accident['Year'] = accident['Accident Date'].dt.year
yearly = accident.groupby('Year').size().reset_index(name='Accident_Count')
yearly

     Year  Accident_Count
0  2019.0           71867
1  2020.0           70163
2  2021.0           66172
3  2022.0           56805

<h4>INSIGHTS : Helps track accident trends over time.</h4>

<h3>5.) How many accidents occurred under each weather condition?</h3>

In [40]:
accident['Weather_Conditions'].fillna('Unknown').value_counts().reset_index(name='Accident_Count').rename(columns={'index':'Weather_Conditions'})

      Weather_Conditions  Accident_Count
0     Fine no high winds          520885
1  Raining no high winds           79696
2                  Other           17150
3                Unknown           14128
4   Raining + high winds            9615
5      Fine + high winds            8554
6  Snowing no high winds            6238
7            Fog or mist            3528
8   Snowing + high winds             885

<h4>INSIGHTS : Highlights weather types (rain, fog, clear) that correspond to higher accident counts.</h4>

<h3>6.) Do accidents with 1 vehicle differ from those with 2 vehicles in terms of casualties?</h3>

In [10]:
one_vehicle = accident[accident['Number_of_Vehicles'] == 1]['Number_of_Casualties']
two_vehicle = accident[accident['Number_of_Vehicles'] == 2]['Number_of_Casualties']

stats, p_value = f_oneway(one_vehicle.dropna(), two_vehicle.dropna())
stats, p_value

(np.float64(10199.156920414918), np.float64(0.0))

<h4>INSIGHTS : This test asks whether single-vehicle accidents cause more or fewer casualties compared to two-vehicle accidents.</h4>

<h3>7.) Do weather conditions affect the average number of casualties></h3>

In [12]:
clear = accident[accident['Weather_Conditions'] == 'Fine no high winds']['Number_of_Casualties']
rain = accident[accident['Weather_Conditions'] == 'Raining without high winds']['Number_of_Casualties']
snow = accident[accident['Weather_Conditions'] == 'Snowing without high winds']['Number_of_Casualties']

stats, p_value = f_oneway(clear.dropna(), rain.dropna(), snow.dropna())
stats, p_value

(np.float64(nan), np.float64(nan))

<h4>INSIGHTS : This ANOVA tests if accidents in different weather conditions lead to different casualty numbers.</h4>

<h3>8.) What is the average number of vehicles per district?</h3>

In [19]:
accident.groupby('District Area')['Number_of_Vehicles'].mean().reset_index(name='Avg_Vehicles')

     District Area  Avg_Vehicles
0    Aberdeen City      1.637188
1    Aberdeenshire      1.553368
2             Adur      1.969305
3        Allerdale      1.782801
4          Alnwick      1.646552
..             ...           ...
417       Wychavon      1.828068
418        Wycombe      1.866397
419           Wyre      1.860258
420    Wyre Forest      1.789474
421           York      1.856089

[422 rows x 2 columns]

<h4>INSIGHTS :  Districts with higher averages may have more multi-vehicle collisions.</h4>

<h3>9.) Which road surface condition has the highest accident count?</h3>

In [21]:
accident['Road_Surface_Conditions'].fillna('Unknown').value_counts().reset_index(name='Accident_Count').rename(columns={'index':'Road_Surface_Conditions'})

  Road_Surface_Conditions  Accident_Count
0                     Dry          447821
1             Wet or damp          186708
2            Frost or ice           18517
3                    Snow            5890
4    Flood over 3cm. deep            1017
5                 Unknown             726

<h4>INSIGHTS : Helps identify if wet or icy roads coincide with more accidents.</h4>

<h3>10.) How many accidents include more than one vehicle?</h3>

In [31]:
accident[accident['Number_of_Vehicles'] > 1].shape[0]

459892

<h4>INSIGHTS : Shows proportion of multi-vehicle collisions versus single-vehicle incidents.</h4>

<h3>11.) Are there differences in casualties between daylight, darkness with lights, and darkness without lights?</h3>

In [33]:
day = accident[accident['Light_Conditions'] == 'Daylight']['Number_of_Casualties']
lit = accident[accident['Light_Conditions'] == 'Darkness - lights lit']['Number_of_Casualties']
unlit = accident[accident['Light_Conditions'] == 'Darkness - no lighting']['Number_of_Casualties']

stats, p_value = f_oneway(day.dropna(), lit.dropna(), unlit.dropna())
stats, p_value

(np.float64(1051.9027966748497), np.float64(0.0))

<h4>INSIGHTS : This shows wheather light conditions impact how severe the accidents are in terms of casualties.</h4>

<h3>12.) Which vehicle type is most often involved in fatal accidents?</h3>

In [35]:
accident[accident['Accident_Severity'] == 'Fatal']['Vehicle_Type'].value_counts().head(1)

Vehicle_Type
Car    6577
Name: count, dtype: int64

<h4>INSIGHTS : This identifies the vehicle most frequently linked with deadly crashes.</h4>

<h3>13.) What is the most common road type where accidents occur?</h3>

In [42]:
accident['Road_Type'].mode()[0]

'Single carriageway'

<h4>INSIGHTS : This shows the road type most prone to accident, which helps authorities focus safety improvements.</h4>

<h3>14.) What is the correlation between number of vehicles and number of casualties?</h3>

In [43]:
accident[['Number_of_Vehicles', 'Number_of_Casualties']].corr()

                      Number_of_Vehicles  Number_of_Casualties
Number_of_Vehicles              1.000000              0.228889
Number_of_Casualties            0.228889              1.000000

<h4>INSIGHTS : This correlation shows if more vehicles usually lead to more casualties.</h4>

<h3>15.) Perform a t-test comparing the number of vehicles and number of casualties.</h3>

In [46]:
stats, p_value = f_oneway(accident['Number_of_Vehicles'].dropna(),accident['Number_of_Casualties'].dropna())
stats, p_value

(np.float64(124644.05667145054), np.float64(0.0))

<h4>INSIGHTS : This test checks if there is a significant statistical difference between vehicles and casualties data.</h4>

<h3>16.) What is the variance in the number of casualties?</h3>

In [49]:
casualty_variance = accident ['Number_of_Casualties'].var()
casualty_variance

np.float64(0.6803724822080995)

<h4>INSIGHTS : This explains how spread out casualty numbers are across all accidents.</h4>

<h3>17.) Check if there is a correlation between number of vehicles and number of casualties.</h3>

In [50]:
correlation = accident ['Number_of_Vehicles'].corr(accident['Number_of_Casualties'])
correlation

np.float64(0.2288888612692759)

<h4>INSIGHTS : A possitive correlation means more vehicles tend to cause more casualties.</h4>

<h3>18.) How many accidents occurred in 2019?</h3>

In [53]:
accident_2019 = accident[accident['Accident Date'].dt.year == 2019].shape[0]
accident_2019

71867

<h4>INSIGHTS : This filters accidents by year to see how frequent they were in 2019.</h4>

<h3>19.) How many accidents happened on weekend vs weekdays?</h3>

In [54]:
accident['Weekday'] = accident['Accident Date'].dt.dayofweek
weekend = accident[accident['Weekday'] >= 5].shape[0]
weekday = accident[accident['Weekday'] < 5].shape[0]
weekend, weekday

(75523, 189484)

<h4>INSIGHTS : Compares weekend vs weekday driving risks.</h4>

<h3>20.) How many accidents happened in December 2020?</h3>

In [56]:
dec2020 = accident[(accident['Accident Date'].dt.year == 2020) & (accident['Accident Date'].dt.month == 12)].shape[0]
dec2020

5960

<h4>INSIGHTS : Narrows down to a sigle month in a single year for detailed analysis.</h4>